# Tableau Challenge - Citibike Dashboard
### Data Analytics and Visualization - University of Toronto
### Name: Thet Win
### Date: September 12, 2024

Summary
The link to the dashboards and visualizations on Tableau Public is 
https://public.tableau.com/views/CitiBikeChallenge_17262564716880/CitiBikeStoryboard?:language=en-US&publish=yes&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link

In this project we built a Tableau dashboards to relay information about the Citi Bike data from New York City, along with Pandas programming in Jypyter Notebook to conduct Data Engineering.

About the Data
Since 2013, the Citi Bike Program has implemented a robust infrastructure for collecting data on the program’s utilization. Through the team’s efforts, each month bike data is collected, organized, and made public on the Citi Bike Data webpage.
Analysis for this project is based on 2024 Citi Bike Data.

In [9]:
# Import setup
import pandas as pd

In [10]:
# Create a list containing all the files for 2022 Jersey City data
files = ['resources/2024/JC-202401-citibike-tripdata.csv',
	     'resources/2024/JC-202402-citibike-tripdata.csv',
	     'resources/2024/JC-202403-citibike-tripdata.csv',
	     'resources/2024/JC-202404-citibike-tripdata.csv',
	     'resources/2024/JC-202406-citibike-tripdata.csv',
	     'resources/2024/JC-202407-citibike-tripdata.csv',
	     'resources/2024/JC-202408-citibike-tripdata.csv'
         ]

In [11]:
# Create an empty dataframe to store all data
citibike_df = pd.DataFrame()

In [12]:
# Loop through the list of files and concatonate all data to the dataframe
for file in files:
    data = pd.read_csv(file) 
    citibike_df = pd.concat([citibike_df, data], axis=0)

In [13]:
# Show the dataframe
citibike_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0744109F13385D1D,electric_bike,2024-01-15 15:18:07,2024-01-15 15:32:44,Morris Canal,JC072,Oakland Ave,JC022,40.712297,-74.038185,40.737604,-74.052478,member
1,B1488BFEF9118000,classic_bike,2024-01-13 15:32:50,2024-01-13 15:36:18,JC Medical Center,JC110,Grove St PATH,JC115,40.715391,-74.049692,40.719410,-74.043090,member
2,95A2FE8E51B4C836,classic_bike,2024-01-19 13:11:00,2024-01-19 13:14:44,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member
3,95D9AFF6A1652DC1,classic_bike,2024-01-23 07:03:49,2024-01-23 07:07:11,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member
4,5F7408988A83B1B3,classic_bike,2024-01-01 16:46:10,2024-01-01 16:50:31,Morris Canal,JC072,Harborside,JC104,40.712419,-74.038526,40.719252,-74.034234,member

In [14]:
citibike_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 580980 entries, 0 to 106450
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             580980 non-null  object
 1   rideable_type       580980 non-null  object
 2   started_at          580980 non-null  object
 3   ended_at            580980 non-null  object
 4   start_station_name  580879 non-null  object
 5   start_station_id    580879 non-null  object
 6   end_station_name    579053 non-null  object
 7   end_station_id      578923 non-null  object
 8   start_lat           580980 non-null  float64
 9   start_lng           580980 non-null  float64
 10  end_lat             580759 non-null  float64
 11  end_lng             580759 non-null  float64
 12  member_casual       580980 non-null  object
dtypes: float64(4), object(9)
memory usage: 62.1+ MB

In [15]:
print(len(citibike_df))

580980

In [16]:
# Store the dataframe as CSV file
citibike_df.to_csv('resources/2024/JC-2024-citibike-tripdata_combined.csv', index=False)